<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CafeDelivery</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MasterServ</display-name>
    <servlet-name>MasterServ</servlet-name>
    <servlet-class>com.revature.servlet.MasterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServ</servlet-name>
    <url-pattern>/MasterServ</url-pattern>
  </servlet-mapping>
</web-app>